<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="It's the login page, used to enter the website :)">
    <link rel="stylesheet" href="../../css/challenge.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/all.min.css">
    <title>challenge</title>
</head>
<body>
    <%-include( "../portials/header" )%>
        <div class="challenge-title">
            <img src="../../images/profile_image.png" height=100px />
            <h2>2021 Summarization challenges</h2>
        </div>
        <%if(challenge){%>
            <div class="challenge">
                <div class="container">
                    <%-include( "components/displayChallenge" )%>
                        <%if(currentUser){%>
                            <%-include( "components/editChallenge" )%>
                                <%}%>
                </div>
            </div>
            <%}else{%>
                <%-include( "components/addChallenge" )%>
                    <%}%>
                        <script>
                            let add_challenge = document.querySelector(".add-challenge")
                            let set_input = document.querySelector(".set-input")
                            let title_input = document.querySelector(".title-input")

                            add_challenge.addEventListener("click", () => {
                                set_input.classList.remove("d-none")
                                add_challenge.textContent = ""
                            });

                            let edit = document.querySelector("span.edit")
                            let display_challenge = document.querySelector("div.display-challenge")
                            let edit_challenge = document.querySelector("div.edit-challenge");

                            edit.addEventListener("click", () => {
                                display_challenge.classList.add("d-none")
                                edit_challenge.classList.remove("d-none")
                            });
                        </script>
                        <%-include( "../portials/scripts" ) %>