<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/challenge.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <title>challenge</title>
</head>

<body>
    <%-include("portials/header")%>

    <div class="challenge-title">
        <img src="../images/profile_image.png" height=100px />
        <h2>Summarization challenges</h2>
    </div>

    <%if(challenge){%>
    <div class="challenge">

        <%let endDates = [
                    challenge.endDate.getDate(),
                     challenge.endDate.getMonth()+1,
                     challenge.endDate.getFullYear()
                        ]
                    
          let startDates = [
                     challenge.startDate.getDate(),
                     challenge.startDate.getMonth()+1,
                     challenge.startDate.getFullYear()
                        ]         
        %>



        <div class="display-challenge">
            <div class="challenge-header">
                <p class="date">
                    <%=startDates[0]%>/<%=startDates[1]%>/<%=startDates[2]%> :
                    <%=endDates[0]%>/<%=endDates[1]%>/<%=endDates[2]%>
                </p>
                <div class="challenge-options">
                    <span class="edit">Edit</span>
                    <form method="POST" action="/Goodsummaries/challenges/<%=challenge._id%>?_method=DELETE">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                </div>
            </div>




            <p class="">You have put <%=challenge.numberOfSummaries%> of <%=challenge.numberOfBooks%>
                Summaries </p>
            <div class="progress">
                <%let myNumberOfBook=challenge.numberOfBooks
                  let myNumberOfSummaries=challenge.numberOfSummaries
                  const totalValue=(myNumberOfSummaries/myNumberOfBook)*100
                %>
                <div class="progress-bar" role="progressbar" style="width:<%=totalValue%>%"
                    aria-valuenow="<%=totalValue%>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="summaries">
                <%books.forEach(book=>{%>
                <a href="/Goodsummaries/book/<%=book._id%>" class="book-link">
                    <div class="summary">
                        <div class="img"> <img class="book_img" src="<%=book.coverimagepath%>" alt="Card image cap">
                        </div>
                    </div>
                </a>
                <%})%>
            </div>
        </div>
        <div class="edit-challenge d-none">

            <form action="/Goodsummaries/challenges/edit/<%=challenge._id%>" method="POST">
                I want to summary
                <input type="text" name="numberOfBooks" value="<%=challenge.numberOfBooks%>" /> books
                <div class="links">
                    <button type="submit" class="update button">Update</button>
            </form>
            <a href="/Goodsummaries/challenges" class="cancel button">Cancel</a>
        </div>
    </div>



    <%}else{%>


    <div class="set-challenge">
        <div class="container">
            <p class="add-challenge">Add new one</a>
            <div class="set-input d-none">
                <form action="challenges" method="POST">
                    <label class="">I aim to summary</label>
                    <input type="number" name="numberOfBooks" min="1" max="200" required placeholder="number of books">
                    <label for="">from</label>
                    <input class="startDate" type="date" name="startDate">
                    <label for="">to</label>
                    <input class="endDate" type="date" required name="endDate">
                    <button class="set" type="submit">Set</button>
                </form>
            </div>
        </div>
    </div>

    <%}%>


    <script>
        let add_challenge = document.querySelector(".add-challenge")
        let set_input = document.querySelector(".set-input")
        let title_input = document.querySelector(".title-input")


        add_challenge.addEventListener("click", () => {
            set_input.classList.remove("d-none")
            add_challenge.textContent = ""
        })





        let date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        if (month < 10) {
            month = `0${month}`
        }
        if (day < 10) {
            day = `0${day}`
        }

        let currentDate = year + "-" + month + "-" + day

        let startDateInput = document.querySelector("input.startDate");
        startDateInput.setAttribute("min", currentDate)

        let endDateInput = document.querySelector("input.endDate");
        let currentDateEnd = year + "-" + month + "-" + (day + 1)
        endDateInput.setAttribute("min", currentDateEnd)



        let edit = document.querySelector("span.edit")
        let display_challenge = document.querySelector("div.display-challenge")
        let edit_challenge = document.querySelector("div.edit-challenge")


        edit.addEventListener("click", () => {
            display_challenge.classList.add("d-none")
            edit_challenge.classList.remove("d-none")
        })


    </script>
    <%-include("portials/scripts")%>