<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/book.min.css">
    <title>goodSummaries</title>
</head>
<body>
    <%-include("partials/header.ejs")%>
    <section class="content contentPadding">
        <section class="bookHeader">
            <div class="bookImage"><img src="data:image/<%=summary.img.contentType%>;base64,<%=summary.img.data.toString('base64')%>" alt=""></div>
            <%if(user._id == summary.publisherId){%>
                <div class="icons">
                    <div class="edit icon"><a href="/edit/<%=summary._id%>">edit</a></div>
                    <div class="delete icon" data-summary="<%=summary._id%>">delete</div>
                </div>
            <%}%>
        </section>
        <h1><%=summary.title%></h1>
        <p>by <a href="/profile/<%=summary.publisherId%>"><%=summary.publisherName%></a></p>
        <div class="bookContent">
            <%-summary.content%>
        </div>
    </section>
  <%-include("partials/footer.ejs")%>
  <script>
      const deleteIcon = document.querySelector(".delete")
      deleteIcon.addEventListener("click", () => {
        const endPoint = `/summary/delete/${deleteIcon.dataset.summary}`
        fetch(endPoint, {
            method:"DELETE"
        }).then(res => {
            window.location.href = res.url
        })
      });

  </script>
</body>
</html>