<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="It's the login page, used to enter the website :)">

    <link rel="stylesheet" href="../../css/personalpage.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="javascripts/filepond.js"></script>
    <script src="https://cdn.tiny.cloud/1/izfyyegnnafqa89ac21by8or054frlvlnt15wliptepsgr5l/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#Summary',
            height: 400,
            plugins: 'lists, link, image, media',
            toolbar: "undo redo | styleselect | bold italic | justifyleft justifycenter justifyright | bullist numlist |forecolor backcolor| preview code",

            menubar: false,
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                });
            }
        });

    </script>
    <title>Goodsummaries-<%=user.name%>
    </title>
</head>

<body>



    <%-include( "../portials/header" )%>
        <section class="content">
            <div class="container">
                <%-include( "components/personalData" )%>
                    <div class="all-books">
                        <div class="title">
                            <h3 class="active book-title books-published-title">Published books</h3>
                            <h3 class="book-title books-saved-title">Saved books</h3>
                        </div>
                        <!--
                        <div class="p-books">
                            <%-include( "components/books" )%>
                        </div>
                        <div class="p-books d-none">
                            <%-include( "../Home/components/allSavedBooks" )%>
                        </div>
                        -->
                    </div>
            </div>
        </section>


        <script>
            let title = document.querySelectorAll(".book-title")
            let all_books = document.querySelectorAll(".p-books")

            for (let i = 0; i < title.length; i++) {
                title[i].addEventListener("click", () => {
                    let previous = title[i - 1]
                    let next = title[i + 1]
                    if (previous !== undefined) {
                        previous.classList.remove("active")
                    }

                    title[i].classList.add("active")
                    next.classList.remove("active")

                    all_books[i].classList.remove("d-none")
                    if (all_books[i + 1] !== undefined) {
                        all_books[i + 1].classList.add("d-none")
                    }
                    all_books[i - 1].classList.add("d-none")
                })
            };


            let followOption = document.querySelector(".unfollow-button");

            followOption.addEventListener("mouseover", () => {
                followOption.textContent = "Unfollow"
            })
            followOption.addEventListener("mouseleave", () => {
                followOption.textContent = "Followed"
            })




        </script>
        <%-include( "../portials/scripts" )%>