<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Hello in goodsummaries website, it's a community 
    where can each one reads, or put a summary of whatever book he read before.
    read and make us read!
    ">
    <title>Goodsummaries-Home</title>

    <link rel="preload" href="css/bootstrap.min.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/mainpage.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/header.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/slide.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/form.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/books.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/all.min.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/savedbooks.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/challenges.css" as="style" onload='this.rel="stylesheet"'>
    <link rel="preload" href="css/portials/footer.css" as="style" onload='this.rel="stylesheet"'>
</head>


<body>
    <%-include( "../portials/header" )%>
        <%if(!user){%>
            <%-include( "components/slide.ejs" )%>
                <%}%>
                    <div class="content">
                        <div class="books"></div>
                        <div class=container>
                            <div class="row">
                                <div class="element"></div>
                                <section class="books-section col-12 col-lg-10 ">
                                    <%-include( "components/form.ejs" )%>
                                        <%-include( "components/books.ejs" )%>
                                </section>
                                <aside class="d-none d-lg-block aside col-lg-2 col-12 ">
                                    <%if(user){%>

                                        <%if(savedBooks!==null&&savedBooks!==undefined){%>
                                            <%-include( "components/saved_books.ejs" )%>
                                                <%-include( "components/challenge.ejs" )%>

                                </aside>
                                <%}}%>
                            </div>
                        </div>
                    </div>
                    <%-include( "../portials/footer" )%>

                        <!--end books display-->
                        <script>

                            let books = document.querySelector(".books");

                            if (window.innerHeight >= "400") {
                                fetch('http://localhost:4000/goodsummaies')
                                    .then(response => console.log(response))
                            }




                            if (!document.querySelector(".webinfo")) {
                                document.querySelector(".content").classList.add("margin-top")
                            };


                            let aside = document.querySelector(".aside");
                            let books_section = document.querySelector(".books-section")
                            if (aside.childElementCount == 0) {
                                books_section.classList.remove("col-lg-10")
                                books_section.classList.add("col-lg-12")
                                aside.classList.remove("col-lg-2")
                            };



                            let saveButton = document.querySelector(".saved");

                            if (saveButton != null) {
                                saveButton.addEventListener("mouseover", () => {
                                    saveButton.textContent = "Unsave";
                                });

                                saveButton.addEventListener("mouseleave", () => {
                                    saveButton.textContent = "Saved";
                                });
                            };

                        </script>
                        <%-include( "../portials/scripts" )%>