<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="It's the login page, used to enter the website :)">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/book.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/all.min.css">
    <title>
        <%=book.Title%>
    </title>
</head>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
    nonce="zxN8Nk4J"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
    nonce="3Tk09ksP"></script>
<body>
    <%-include( "../portials/header" )%>
        <section class="book-details">
            <div class="container">
                <div class="image-options-title">
                    <!--start book_options-->
                    <div class="options">
                        <div class="row">
                            <div class="img col-4"><img src="<%=book.coverimagepath%>" /></div>

                            <div class="options-inner col-8">
                                <%if(owner==true){%>
                                    <a href="<%=book._id%>/edit" class="edit">Edit</a>
                                    <form method="POST" class="delete-form" action="<%=book._id%>?_method=DELETE">
                                        <button class="delete" type="submit">Delete</button>
                                    </form>
                                    <%}else if(owner!=true){%>
                                        <%if(!saved){%>
                                            <form action="save/<%=book._id%>" class="save" method="POST">
                                                <button class="current-reading" type="submit"><i
                                                        class="far fa-bookmark"></i></button>
                                            </form>
                                            <%}else{%>
                                                <form action="unsave/<%=book._id%>" class="save" method="POST">
                                                    <button class="current-reading" type="submit"><i
                                                            class="far fa-bookmark active"></i></button>
                                                </form>
                                                <%}%>
                                                    <%if(liked==true){%>
                                                        <form action="unlike/<%=book._id%>" class="likes" method="POST">
                                                            <button class="like" type="submit"><i
                                                                    class="fas fa-heart active"></i></button>
                                                            <p class="likes"><span>
                                                                    <%=book.WhoLoveIt.length%>
                                                                </span></p>
                                                        </form>
                                                        <%}else{%>
                                                            <form action="like/<%=book._id%>" class="likes"
                                                                method="POST">
                                                                <button class="like" type="submit"><i
                                                                        class="fas fa-heart "></i></button>
                                                                <p class="likes"><span>
                                                                        <%=book.WhoLoveIt.length%>
                                                                    </span> </p>
                                                            </form>
                                                            <%}%>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <!--end book_options-->

                </div>

                <div class="book-mainData">
                    <h1 class="Title">
                        <%=book.Title%>
                    </h1>
                    <span class="book-category">
                        <%=book.Category%>
                    </span>
                </div>


                <div class="owner">
                    by<span>
                        <%=book.Publisher%>
                    </span>
                </div>
                <!--start book summary-->
                <div class="summary">
                    <%-book.Summary%>
                </div>
                <!--end book summary-->

                <!--start comment part-->
                <div class="fb-comments" style="margin-top:30px;" data-href="http://localhost:3000/book/<%=book._id%>"
                    data-numposts="5" data-width="">
                </div>
            </div>
            <!--end comment part-->
            </div>

        </section>
        <script src="sweetalert2.all.min.js">
            let deleteButton = document.querySelector(".delete");
            let form = document.querySelector(".delete-form")

            form.addEventListener("submit", () => {

                Swal.fire({
                    title: `Are you sure`,
                    text: `You won't be able to restore this book :)`,
                    icon: `warning`,
                    showCancelButton: true,
                    confirmButtonColor: `#53BCBC`,
                    cancelButtonColor: `#d33`,
                    confirmButtonText: `Yes, delete it`
                }).then(result => {
                    Swal.fire(
                        `Deleted`
                    )
                })
            });
        </script>

        <%-include( "../portials/scripts.ejs" )%>