<!--start navbar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../../../images/logo4.png" alt="Logo"> </a>
        <button class="navbar-toggler text-left" type="button" data-toggle="collapse" data-target="#home"
            aria-controls="home" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="home">
            <ul class="navbar-nav mr-auto list_items text-center">
                <li class="nav-item section-elements">
                    <a class="nav-link Home" href="/">Home</a>
                </li>

                <li class="nav-item section-elements">
                    <a class="nav-link " href="/<%if(user){%>/<%=user.name%><%}else{%>login<%}%>">challenges</a>
                </li>

                <li class="nav-item publish section-elements">
                    <a class="nav-link" href="/publish">Publish</a>
                </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-center utilities text-sm-center">
                <%if(user){%>
                    <li class="nav-item status-li">
                        <div class="status-dropdowns d-none">
                            <header class="status-header">
                                <h1>Notifications</h1>
                                <a>View all notifications</a>
                            </header>
                            <%if(user.status.length!=0){%>
                                <%user.status.reverse()%>
                                    <%user.status.forEach(statu=>{%>
                                        <div class="status">
                                            <div class="individual-status">
                                                <div class="status-image">
                                                    <img src="../../images/profile_image.png" alt="user-status-image"
                                                        height=50px>
                                                </div>
                                                <p class="status-writing">
                                                    <span class="user-name">
                                                        <a href="/profilePage/<%=statu.userName%>">
                                                            <%=statu.userName%>
                                                        </a>
                                                    </span>
                                                    <a href="/<%=statu.statusLink%>" class="status-message-link">
                                                        <%=statu.statusMessage%>
                                                    </a>
                                                </p>
                                                <%if(!statu.seen){%>
                                                    <div class="seen-icon"></div>
                                                    <%}%>
                                            </div>

                                        </div>

                                        <%})}else{%>
                                            <div class="status">
                                                <div class="user-status">
                                                    <div class="status-image">
                                                    </div>
                                                    <p class="status-message">
                                                        <span class="user-name">

                                                        </span>
                                                        there is not any status yet
                                                    </p>
                                                </div>
                                            </div>
                                            <%}%>
                        </div>
                        <button class="status-button"><i class="fas fa-bell"></i></button>
                    </li>
                    <li class="nav-item profile">
                        <a class="nav-link" href="/profilePage/<%=user.name%>"><img src="../images/profile_image.png"
                                alt="profile image"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>

                    <%}else{%>
                        <li class="nav-item login">
                            <a class="nav-link " href="/login">Login</a>
                        </li>
                        <li class="nav-item signup">
                            <a class="nav-link " href="/signup">Sign up</a>
                        </li>
                        <%}%>
            </ul>

        </div>
    </div>
</nav>
<!--end navbar-->